* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
	margin: 10px;
}

h1 {
	color: white;
	text-align: center;
	margin: 40px;
	margin-bottom: 20px;
}

ul {
	color: white;
	padding: 15px;
}

ul:first-of-type {
	border-right: 1px dotted white;
} 

span {
	padding-top: 15px;
	color: white;
	margin-left: 10px;
	font-weight: bold;
}

.listContainer {
	display: flex;
	border: 1px solid white;
	margin-bottom: 10px;
}

.containerTypeText {
	margin-bottom: 10px;
}

.container {
	background-color: azure;
	font-size: 2rem;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row-reverse wrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
	
}

.container div {
	height: 100px;
	min-height: 100px;
	width: 100px;
}

.rowContainer {
	height: 500px;
}

.columnContainer {
	flex-direction: column;
	height: 500px;
}

.first {
	background-color: aquamarine;
	flex-basis: 400px;
}

.second {
	background-color: crimson;
	font-size: 3rem;
	align-self: center;
	flex-grow: 3;
	flex-shrink: 2;
}

.third {
	background-color: darkkhaki;
	align-self: flex-end;
}

.fourth {
	background-color: darkorange;
	order: -1;
}

